[submodule "packaging/linux/flatpak/deps/flatpak-builder-tools"]
	path = packaging/linux/flatpak/deps/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
	branch = master
[submodule "third-party/doxyconfig"]
	path = third-party/doxyconfig
	url = https://github.com/LizardByte/doxyconfig.git
	branch = master
[submodule "third-party/lizardbyte-common"]
	path = third-party/lizardbyte-common
	url = https://github.com/LizardByte/lizardbyte-common.git
	branch = master
[submodule "third-party/moonlight-common-c"]
	path = third-party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
	branch = master
[submodule "third-party/Simple-Web-Server"]
	path = third-party/Simple-Web-Server
	url = https://github.com/LizardByte-infrastructure/Simple-Web-Server.git
	branch = master
